# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/
*/vendor/
/*vendor*/

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a

# Folders
_tmp/
*.log

# Compiled binary files
bin/

xhinobi
.aider*
